.MainComponent{
    /* display: flex;
    justify-content: center;
    align-items: center; */
}


.homeContainer{
    margin-top: -8rem;
    margin-bottom: 4rem;
    height: 100vh;

}
.homeContainer2{
    margin-top: -11rem;
    margin-bottom: 1rem;
    height: 100vh;

}

.SliderComponent{
    background-color: white;
    padding: 0.5rem 1rem 1rem 1rem;
    margin-bottom: 2rem;
    margin-right: 6rem;
    margin-left: 6rem;
}

.Heading{
    color: rgb(17, 59, 107);
    margin-bottom: -2rem;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 0.1rem;
}

.HeaderComponent{

    margin-top: 0px;
    
}

.SeeMore{
    /* border: 1px solid red; */
    /* margin-left: 1rem; */
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
         /* padding-bottom: 2rem; */
}

.head{
    display: flex;
    flex-direction: row;
}