.MainComponent{
    /* display: flex;
    justify-content: center;
    align-items: center; */
}


.homeContainer{
    height: 100vh;
}

.SliderComponent{
    background-color: white;
    padding: 2rem;
    margin-bottom: 2rem;
    margin-right: 6rem;
    margin-left: 6rem;
}
.Heading{
    /* margin-bottom: 2rem; */
    margin-left: 1rem;
}

.HeaderComponent{
    /* margin-bottom: 5rem; */
}