.MainComponent{
    /* display: flex;
    justify-content: center;
    align-items: center; */
}


.homeContainer{
    margin-top: -6rem;
    /* margin-bottom: 2rem; */
    height: 100vh;

}
.homeContainer2{
    margin-top: -11rem;
    margin-bottom: 1rem;
    height: 100vh;
    border: 1px solid red;
}

.SliderComponent{
    background-color: white;
    padding: 0.5rem 1rem 1rem 1rem;
    margin-bottom: 2rem;
    margin-right: 6rem;
    margin-left: 6rem;
}

.Heading{
    color: rgb(17, 59, 107);
    margin-bottom: -2rem;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 0.1rem;
}

.HeaderComponent{

    margin-top: 0px;
    
}

.SeeMore{
    /* border: 1px solid red; */
    /* margin-left: 1rem; */
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.head{
    display: flex;
    flex-direction: row;
}

@media only screen and (min-device-width: 100px) and (max-device-width: 375px) {

      .sliderBar{
        border: 1px solid blue;
        margin-top: 35rem;
      }
  }
@media only screen and (min-device-width: 375px) and (max-device-width: 558px) {

      .sliderBar{
        border: 1px solid blue;
        margin-top: 25rem;
      }
  }

@media only screen and (min-device-width: 560px) and (max-device-width: 770px) {

      .sliderBar{
        
        margin-top: 30rem;
      }
  }

@media only screen and (min-device-width: 772px) and (max-device-width: 815px) {
    
    .homeContainer{
        margin-bottom: 10rem;
      }

      .sliderBar{
       
        margin-top: 45rem;
      }
  }
@media only screen and (min-device-width: 815px) and (max-device-width: 1200px) {
    
    .homeContainer{
        margin-bottom: 10rem;
      }

      .sliderBar{
       
        margin-top: 15rem;
      }
  }

  
@media only screen and (min-device-width: 1200px) and (max-device-width: 1277px)  {
    
     .homeContainer{
      height: 160vh;
    }

   
    .SliderComponent{
    margin:50px 0px 50px 0px ;
   }
  }

  @media only screen and (min-device-width: 1278px) and (max-device-width: 1800px)  {

    .homeContainer{
        height: 100vh;
      }
  
  }