.headerComponent{
     border: 1px solid red;
     height:150vh;
     width:full;
     display: flex;
     justify-content: center;
     /* align-items:center; */
}



.headerLeadComponent{
    border:1px solid black;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 5rem;
    width:80%;
}




.component{
    /* border: 1px solid red; */
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cardBody{
    
    height: 10vh;
    display: grid;
    place-items: center center;
    font-family: 'Poppins',sans-serif;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    padding: 10px;
    grid-gap: 40px;
    width:90%;
    margin-top: 10rem;
    height:80%;

}
.card{
    /* background-color: #1c1b29; */
    display: flex;

    align-items: center;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
.container{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
img{
    width: 100%;
    display: block;
    /* border-radius: 20px 20px 0 0; */
}
.container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}
.card1>.container:after{
    background-image: linear-gradient(
        135deg,
        #0100ec,
        #fb36f4
    );
}
.card2>.container:after{
    background-image: linear-gradient(
        135deg,
        #2bdce3,
        #42ffdb
    );
}
.card3>.container:after{
    background-image: linear-gradient(
        135deg,
        #ffab1d,
        #f8501c
    );
}
.details{
    /* padding: 20px 10px; */
    padding-top: 20px;
    padding-bottom: 0px;
}

.details h3{
    font-weight: bold;
}
.details>h3{
    color: #231c1c;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 15px 0;
}
.details>p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    /* font-weight: 400; */
}
